/* The Modal (background) */
.modal {
  display: block; /* Shown by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 1em;
  border: 1px solid #888;
  width: 30em;
}

.modal-content label {
    display: inline-block;
    width: 140px;
    text-align: right;
    margin-right: 1em;
    padding-top: 0.5em;
}

.modal-content input, .modal-content textarea, .modal-content button {
  margin: 0.5em;
  padding: 0.2em;
  width: 15em;
  vertical-align: top;

}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}